body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    padding: 0%;
    background-color: #FDF7F0;
    overflow-x: hidden;
}

p {
    font-family: "garlic-salt";
    font-size: 1.8rem;
    color: #7B7070;
    line-height: 160%;
}

h1 {
    font-family: "fields";
    font-weight: 700;
    font-size: 2.5rem;
    font-style: normal;
    color: #7B7070;
}

header {
    display: flex;
}

a {
    text-decoration: none;
    color: #7B7070;
    transition: color 0.3s ease-in-out;
}

a:after {
    text-decoration: none;
    color: #7B7070;
}

a:hover {
    color: #a79999;
    transition: color 0.3s ease-in-out;
}

.button {
    position: absolute;
    padding: 1%;
    background-color: #fdf7f0e8;
    border: 2px dashed #7b70704d;
    opacity: 95%;
    color: #7B7070;
    font-size: 1.5rem;
    transform-origin: 0 0;
    will-change: transform, opacity;
    transform: scaleY(0) translateZ(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.button-label {
    transform: translateY(-15px);
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    display: block;
    opacity: 0;
}

.BattleWitch .img:hover .button,
.SWC .img:hover .button,
.Budget .img:hover .button,
.Energy .img:hover .button,
.CCE .img:hover .button,
.TMS .img:hover .button,
.p-writing .img:hover .button,
.p-pwork .img:hover .button,
.home-programming .img:hover .button,
.home-writing .img:hover .button,
.home-personal .img:hover .button,
.home-resume .img:hover .button,
.home-aboutme .img:hover .button,
.carousel_slide:hover .button{
    transform: scaleY(1) translateZ(0);
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1)
}

.BattleWitch .img:hover .button-label,
.SWC .img:hover .button-label,
.Budget .img:hover .button-label,
.Energy .img:hover .button-label,
.CCE .img:hover .button-label,
.TMS .img:hover .button-label,
.p-writing .img:hover .button-label,
.p-pwork .img:hover .button-label,
.home-programming .img:hover .button-label,
.home-writing .img:hover .button-label,
.home-personal .img:hover .button-label,
.home-aboutme .img:hover .button-label,
.home-resume .img:hover .button-label,
.carousel_slide:hover .button-label {
    transform: translateY(0);
    opacity: 1
}

/* home page styling */

.bb {
    margin-top: 8%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.bb h1 {
    font-size: 5rem;
    margin: 0%;
}

.greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
    border: 2px dashed #7b70708d;
}

.greetings .img {
    background-image: url(images/me.jpg);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 2%;
    background-size: cover;
    background-position: center;
    transition: background 0.3s ease-in-out;
}

.greetings .img:hover {
    background-image: url(images/me-px.png);
    background-size: cover;
    background-position: center;
    transition: background 0.3s ease-in-out;
}

.greetings p {
    width: 130vh;
    height: 20vh;
}

.about-resume {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.home-aboutme,
.home-resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #E7C7D7;
    width: 49%;
    border: 2px dashed #7b70708d;
}

.home-resume {
    padding-bottom: 1%;
}

.home-aboutme .img,
.home-resume .img {
    background-image: url(images/wave.jpg);
    width: 90%;
    height: 450px;
    margin: 2%;
    background-size: cover;
    background-position: center;
}

.home-resume .img {
    background-image: url(images/resume.PNG);
}

.home-aboutme p,
.home-resume p {
    width: 90%;
}

.home-resume p {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.home-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap;
    border: 2px dashed #7b70708d;
}

.home-portfolio p {
    padding: 2%;
}

.pwp-section {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-bottom: 4%;
}

.home-programming,
.home-writing,
.home-personal {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-programming h1,
.home-writing h1,
.home-personal h1 {
    text-align: center;
}

.home-programming .img,
.home-writing .img,
.home-personal .img{
    width: 95%;
    height: 300px;
    margin: 2%;
}

.home-programming .img {
    background-image: url(images/battlewitch.PNG);
    background-size: cover;
    background-position: center;
}

.home-writing .img {
    background-image: url(images/cce.PNG);
    background-size: cover;
    background-position: center;
}

.home-personal .img {
    background-image: url(images/odw.PNG);
    background-size: cover;
    background-position: center;
}

.home-contact {
    background-color: #E7C7D7;
    margin-top: 5%;
    border: 2px dashed #7b70708d;
}

.home-contact h1,
.home-contact p {
    text-align: center;
}

.contact-img {
    display: flex;
    justify-content: center;
}

.home-chara{
    background-image: url(images/contact-me1.PNG);
    height: 75vh;
    width: 60%;
    background-size: cover;
    background-position: center;
    margin: 2%;
}

/* about me page styling */
.about {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.about h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.achievements {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap;
    border: 2px dashed #7b70708d;
}

.achievements .img {
    background-image: url(images/wave.jpg);
    width: 90%;
    height: 900px;
    margin: 2%;
    background-size: cover;
    background-position: center;
}

.achievements p {
    width: 90%;
    padding-bottom: 2%;
}

.hobbies-plan {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.hobbies,
.plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 49%;
    background: #E7C7D7;
    border: 2px dashed #7b70708d;
}

.plan {
    padding-bottom: 5%;
}

.hobbies .img,
.plan .img {
    background-image: url(images/pixel-drawing.png);
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 450px;
    margin: 2%;
}

.plan .img {
    background-image: url(images/east-bay.jpg);
}

.hobbies p,
.plan p {
    width: 90%;
}

/* resume page styling */
.Resume {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.Resume h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.resume {
    background: #B8BF80;
    margin-top: 5%;
    border: 2px dashed #7b70708d;
}

.resume h1 {
    padding: 2%;
    text-align: center;
}

.r-content {
    padding: 2%;
    margin-left: 5%;
    color: #7B7070;
    font-size: 1.2rem;
}

.r-content h3 {
    text-indent: 2%;
}

.r-content h4 {
    text-indent: 5%;
    font-style: italic;
}

.r-content ul {
    text-indent: 1%;
}

li:not(.carousel_slide) {
    list-style: square;
    margin-left: 4%;
}

.lor {
    background: #E7C7D7;
    border: 2px dashed #7b70708d;
    margin-top: 2%;
}

.lor h1 {
    padding: 2%;
    text-align: center;
}

.lor-content {
    padding: 2% 6%;
}

.download {
    background: #B8BF80;
    padding: 2%;
    margin-top: 2%;
    border: 2px dashed #7b70708d;
}

.download h1 {
    text-align: center;
}

.download-buttons {
    display: flex;
    justify-content: space-evenly;
}

.download-buttons a {
    font-size: 1.5rem;
    margin: 2%;
    padding: 1% 2%;
    background-color: #fdf7f0ea;
    border-radius: 5%;
    border: 2px dashed #7b70704d;
}

/* portfolio page styling */
.portfolio {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.portfolio h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.p-programming {
    display: flex;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap;
    border: 2px dashed #7b70708d;
}

.p-programming section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 2%;
}

.p-writing {
    display: flex;
    background: #E7C7D7;
    margin-top: 5%;
    flex-wrap: wrap;
    border: 2px dashed #7b70708d;
}

.p-writing  .img {
    background-image: url(images/cce.PNG);
    background-size: cover;
    width: 50%;
    height: 460px;
    margin: 2%;
}

.p-writing  section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 2%;
}

.p-writing section p {
    padding-left: 3%;
}

.p-pwork {
    display: flex;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap;
    border: 2px dashed #7b70708d;
}

.p-pwork .img {
    background-image: url(images/odw.PNG);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 460px;
    margin: 2%;
}

.p-pwork section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 2%;
}

/* image carousel */
.carousel {
    position: relative;
    height: 500px;
    width: 50%;
    margin: 2%;
}

.carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button-right {
    right: -35px;
}

.carousel_button-left {
    left: -35px;
}

.carousel_button img {
    width: 35px;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #a79999bd;
    margin: 0 12px;
}

.carousel_indicator.current-slide {
    background: #7B7070;
}

.is-hidden {
    display: none;
}


/* programming page styling */
.programming {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.programming h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.BattleWitch {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap;
    border: 2px dashed #7b70708d;
}

.BattleWitch .img {
    background-image: url(images/battlewitch.PNG);
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 900px;
    margin: 2%;
}

.BattleWitch p {
    width: 90%;
    padding-bottom: 2%;
}

.SWC-Budget {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.SWC,
.Budget {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 49%;
    background: #E7C7D7;
    border: 2px dashed #7b70708d;
}

.SWC {
    padding-bottom: 3%;
}

.SWC .img,
.Budget .img {
    background-image: url(images/swc.PNG);
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 450px;
    margin: 2%;
}

.Budget .img {
    background-image: url(images/budget.PNG);
}

.SWC p,
.Budget p {
    width: 90%;
}

.Energy {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap;
    border: 2px dashed #7b70708d;
}

.Energy .img {
    background-image: url(images/energy.PNG);
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 900px;
    margin: 2%;
}

.Energy p {
    width: 90%;
    padding-bottom: 2%;
}

/* writing page styling */
.writing {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.writing h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.CCE-TMS {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-top: 5%;
}

.CCE,
.TMS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 49%;
    background: #B8BF80;
    border: 2px dashed #7b70708d;
}

.CCE .img,
.TMS .img {
    background-image: url(images/cce.PNG);
    width: 90%;
    height: 450px;
    margin: 2%;
}

.TMS .img {
    background-image: url(images/tms.PNG);
}

.CCE p,
.TMS p {
    width: 90%;
}

/* personal work page styling */
.personal-work {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.personal-work h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.ODW {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap;
    border: 2px dashed #7b70708d;
}

.ODW .video {
    width: 90%;
    height: 900px;
    margin: 2%;
}

.ODW p {
    width: 90%;
    padding-bottom: 2%;
}

/* contact page styling */
.Contact {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.Contact h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.contact {
    background-color: #B8BF80;
    border: 2px dashed #7b70708d;
    margin-top: 5%;
}

.contact-content {
    display: flex;
}

.contact-list {
    width: 30%;
    margin: 2%;
}

.chara {
    background-image: url(images/contact-me.png);
    height: 75vh;
    width: 60%;
    background-size: cover;
    background-position: center;
    margin: 2%;
}

.thanks {
    margin: 2%;
}

.thanks h1 {
    text-align: center;
}


.contact1,
.contact2,
.contact3,
.contact4 {
    margin-left: 2%;
    display: flex;
    align-items: center;
}

.contact1 p,
.contact2 p,
.contact3 p,
.contact4 p{
    margin-left: 2%;
}

.mail-icon,
.phone-icon,
.profile-icon1,
.profile-icon2 {
    background-image: url(images/gmail.png);
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
}

.phone-icon {
    background-image: url(images/phone.png);
}

.profile-icon1 {
    background-image: url(images/linkedin.png);
}

.profile-icon2{
    background-image: url(images/github.png);
}

/* nav styling section */
nav {
    opacity: 0.9;
}

.navbar-container {
    display: block;
    position: relative;
    height: 64px;
}

.navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
}

.navbar-container .hamburger {
    display: block;
    height: 30px;
    width: 45px;
    position: absolute;
    top: 30px;
    left: 20px; 
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container .hamburger .line {
    display: block;
    height: 6px;
    width: 100%;
    border-radius: 10px;
    background: #7B7070;
}

.navbar-container .hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger .line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

nav .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: -5px 0px 10px 0px #d0d0d0;
    margin-top: 0;
}

nav .menu-items li {
    list-style: none;
    margin-right: 4rem;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.menu-items a {
    text-decoration: none;
    color: #878C5E;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
  
.menu-items a:hover {
    color: #B8BF80;
    transition: color 0.3s ease-in-out;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger .line1 {
    transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger .line2 {
    transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger .line3 {
    transform: rotate(-35deg);
}

/* footer styling */ 
footer {
    display: flex;
}

footer section {
    background-color: #E7C7D7;
    height: 10%;
    width: 100%;
    margin: 5% 0;
    border: 2px dashed #7b70708d;
}

footer section p {
    font-size: 1rem;
    margin: 1%;
    text-align: right;
}

footer nav {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

nav p a {
    font-size: 2rem;
}

/* media query */

@media only screen and (max-width: 600px) and (min-width: 100px) {

    .bb h1,
    .about h1,
    .Resume h1,
    .portfolio h1,
    .writing h1,
    .personal-work h1,
    .Contact h1 {
        font-size: 2rem;
    }

    .programming h1 {
        font-size: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    .greetings {
        display: block;
        height: 90vh;
    }

    .greetings .img {
        width: 330px;
        height: 330px;
    }

    .greetings p {
        width: 100%;
        margin: 1%;
    }

    .about-resume,
    .pwp-section,
    .hobbies-plan,
    .SWC-Budget,
    .CCE-TMS,
    .p-programming,
    .p-writing,
    .p-pwork, 
    .contact-content {
        display: block;
    }

    .home-aboutme,
    .home-resume,
    .home-programming,
    .home-writing,
    .home-personal,
    .hobbies,
    .plan,
    .SWC,
    .Budget,
    .CCE,
    .TMS,
    .home-chara,
    .contact-list,
    .chara,
    .p-programming section,
    .p-writing section,
    .p-pwork section {
        width: 100%;
    }

    .p-pwork .img,
    .p-writing .img {
        width: 96%;
    }

    .home-resume,
    .plan,
    .Budget,
    .TMS {
        margin-top: 4%;
    }

    .home-aboutme .img,
    .home-resume .img,
    .home-programming .img,
    .home-writing .img,
    .home-personal .img,
    .achievements .img,
    .hobbies .img,
    .plan .img,
    .BattleWitch .img,
    .SWC .img,
    .Budget .img,
    .Energy .img,
    .CCE .img,
    .TMS .img,
    .ODW .video,
    .p-pwork .img,
    .p-writing .img {
        height: 30vh;
    }

    .home-portfolio p {
        margin: 2%;
    }

    .SWC h1 {
        text-align: center;
    }

    .chara {
        margin: 0%;
    }

    .carousel {
        width: auto;
        height: 40vh;
    }

    footer section nav {
        display: block;
    }
    
    footer section nav p  {
        display: flex;
        justify-content: center;
        padding: 2%;
    }
}