body {
    margin: 0%;
    padding: 0%;
    background-color: #FDF7F0;
}

p {
    font-family: "garlic-salt";
    font-size: 1.3rem;
}

h1 {
    font-family: "fields";
    font-weight: 700;
    font-size: 1.8rem;
    font-style: normal;
}


/* home page styling */

.bb {
    display: flex;
    justify-content: center;
}

.bb h1 {
    font-size: 3rem;
}

.greetings .img {
    background-image: url(images/placeholder.png);
    height: 40vh;
    width: 40vh;
}

/* nav styling section */
nav {
    opacity: 0.9;
}



.navbar-container {
    display: flex;
    justify-content: right;
    position: relative;
    height: 64px;
}

.navbar-container input[type="checkbox"] {
    position: absolute;
    display: flex;
    height: 32px;
    width: 30px;
    top: 20px;
    right: 120px;
    z-index: 5;
    opacity: 0;
}

.navbar-container .hamburger {
    height: 23px;
    width: 35px;
    position: absolute;
    top: 30px;
    right: 120px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container .hamburger .line {
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
}

.navbar-container .hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger .line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

nav .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(150%);
    display: flex;
    flex-direction: column;
    margin-right: -40px;
    padding-right: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
}

nav .menu-items li {
    list-style: none;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.menu-items a {
    text-decoration: none;
    color: #878C5E;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
  
.menu-items a:hover {
    color: #B8BF80;
    transition: color 0.3s ease-in-out;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger .line1 {
    transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger .line2 {
    transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger .line3 {
    transform: rotate(-35deg);
}