body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    padding: 0%;
    background-color: #FDF7F0;
    overflow-x: hidden;
}

p {
    font-family: "garlic-salt";
    font-size: 1.8rem;
    color: #7B7070;
    line-height: 160%;
}

h1 {
    font-family: "fields";
    font-weight: 700;
    font-size: 2.5rem;
    font-style: normal;
    color: #7B7070;
}

header {
    display: flex;
}

a {
    text-decoration: none;
    color: #7B7070;
}

a:after {
    text-decoration: none;
    color: #7B7070;
}

a:hover {
    text-decoration: underline;
}

.logo {
    max-height: 350px;
    max-width: 440px;
}

.button {
    position: absolute;
    padding: 1%;
    background-color: #FDF7F0;
    opacity: 95%;
    color: #7B7070;
    font-size: 1.5rem;
    transform-origin: 0 0;
    will-change: transform, opacity;
    transform: scaleY(0) translateZ(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.button-label {
    transform: translateY(-15px);
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    display: block;
    opacity: 0;
}

.BattleWitch .img:hover .button,
.SWC .img:hover .button,
.Budget .img:hover .button,
.Energy .img:hover .button,
.CCE .img:hover .button,
.TMS .img:hover .button,
.p-writing .img:hover .button,
.p-pwork .img:hover .button {
    transform: scaleY(1) translateZ(0);
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1)
}

.BattleWitch .img:hover .button-label,
.SWC .img:hover .button-label,
.Budget .img:hover .button-label,
.Energy .img:hover .button-label,
.CCE .img:hover .button-label,
.TMS .img:hover .button-label,
.p-writing .img:hover .button-label,
.p-pwork .img:hover .button-label {
    transform: translateY(0);
    opacity: 1
}

/* home page styling */

.bb {
    margin-top: 8%;
    text-align: center;
}

.bb h1 {
    font-size: 5rem;
    margin: 0%;
}

.greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
}

.greetings .img {
    background-image: url(images/me.jpg);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 2%;
    background-size: cover;
    background-position: center;
}

.greetings p {
    width: 130vh;
    height: 20vh;
}

.about-resume {
    display: flex;
    background: #E7C7D7;
    height: fit-content;
}

.home-aboutme,
.home-resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
}

.home-aboutme .img,
.home-resume .img {
    background-image: url(images/placeholder.png);
    width: 90%;
    height: 450px;
    margin: 2%;
}

.home-resume .img {
    background-image: url(images/placeholder.png);
}

.home-aboutme p,
.home-resume p {
    width: 90%;
}

.home-resume p {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

/* about me page styling */
.about {
    margin-top: 8%;
}

.about h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.achievements {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap
}

.achievements .img {
    background-image: url(images/placeholder.png);
    width: 90%;
    height: 900px;
    margin: 2%;
}

.achievements p {
    width: 90%;
    padding-bottom: 2%;
}

.hobbies-plan {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.hobbies,
.plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
    background: #E7C7D7;
}

.plan {
    padding-bottom: 5%;
}

.hobbies .img,
.plan .img {
    background-image: url(images/pixel-drawing.png);
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 450px;
    margin: 2%;
}

.plan .img {
    background-image: url(images/east-bay.jpg);
}

.hobbies p,
.plan p {
    width: 90%;
}

/* resume page styling */
.Resume {
    margin-top: 8%;
}

.Resume h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.resume {
    background: #B8BF80;
    margin-top: 5%;
}

.resume h1 {
    padding: 2%;
    text-align: center;
}

.r-content {
    padding: 2%;
    margin-left: 5%;
    color: #7B7070;
    font-size: 1.2rem;
}

.r-content h3 {
    text-indent: 2%;
}

.r-content h4 {
    text-indent: 5%;
    font-style: italic;
}

.r-content ul {
    text-indent: 1%;
}

li {
    list-style: square;
    margin-left: 4%;
}

.lor {
    background: #E7C7D7;
}

.lor h1 {
    padding: 2%;
    text-align: center;
}

.lor-content {
    padding: 2% 6%;
}

.download {
    background: #B8BF80;
    padding: 2%;
    margin-top: 2%;
}

.download h1 {
    text-align: center;
}

/* portfolio page styling */
.portfolio {
    margin-top: 8%;
}

.portfolio h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.p-programming {
    display: flex;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap
}

.p-programming section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 2%;
}

.p-writing {
    display: flex;
    background: #E7C7D7;
    margin-top: 5%;
    flex-wrap: wrap
}

.p-writing  .img {
    background-image: url(images/cce.PNG);
    background-size: cover;
    width: 50%;
    height: 460px;
    margin: 2%;
}

.p-writing  section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 2%;
}

.p-writing section p {
    padding-left: 3%;
}

.p-pwork {
    display: flex;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap
}

.p-pwork .img {
    background-image: url(images/odw.PNG);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 460px;
    margin: 2%;
}

.p-pwork section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    margin: 2%;
}

/* image carousel */



/* programming page styling */
.programming {
    margin-top: 8%;
}

.programming h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.BattleWitch {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap
}

.BattleWitch .img {
    background-image: url(images/battlewitch.PNG);
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 900px;
    margin: 2%;
}

.BattleWitch p {
    width: 90%;
    padding-bottom: 2%;
}

.SWC-Budget {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.SWC,
.Budget {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
    background: #E7C7D7;
}

.SWC {
    padding-bottom: 2.5%;
}

.SWC .img,
.Budget .img {
    background-image: url(images/swc.PNG);
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 450px;
    margin: 2%;
}

.Budget .img {
    background-image: url(images/budget.PNG);
}

.SWC p,
.Budget p {
    width: 90%;
}

.Energy {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap
}

.Energy .img {
    background-image: url(images/energy.PNG);
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 900px;
    margin: 2%;
}

.Energy p {
    width: 90%;
    padding-bottom: 2%;
}

/* writing page styling */
.writing {
    margin-top: 8%;
}

.writing h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.CCE-TMS {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-top: 5%;
}

.CCE,
.TMS {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
    background: #B8BF80;
}

.CCE .img,
.TMS .img {
    background-image: url(images/cce.PNG);
    width: 90%;
    height: 450px;
    margin: 2%;
}

.TMS .img {
    background-image: url(images/tms.PNG);
}

.CCE p,
.TMS p {
    width: 90%;
}

/* personal work page styling */
.personal-work {
    margin-top: 8%;
}

.personal-work h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

.ODW {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B8BF80;
    margin-top: 5%;
    flex-wrap: wrap
}

.ODW .video {
    width: 90%;
    height: 900px;
    margin: 2%;
}

.ODW p {
    width: 90%;
    padding-bottom: 2%;
}

/* contact page styling */
.contact {
    margin-top: 8%;
}

.contact h1 {
    font-size: 5rem;
    margin: 0%;
    text-align: center;
}

/* nav styling section */
nav {
    opacity: 0.9;
}

.navbar-container {
    display: flex;
    justify-content: right;
    height: 64px;
}

.navbar-container input[type="checkbox"] {
    position: absolute;
    display: flex;
    height: 32px;
    width: 30px;
    top: 20px;
    right: 120px;
    z-index: 5;
    opacity: 0;
}

.navbar-container .hamburger {
    height: 30px;
    width: 45px;
    position: absolute;
    top: 30px;
    right: 120px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container .hamburger .line {
    height: 6px;
    width: 100%;
    border-radius: 10px;
    background: #7B7070;
}

.navbar-container .hamburger .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger .line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

nav .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(150%);
    display: flex;
    flex-direction: column;
    margin-right: -40px;
    padding-right: 70px;
    transition: transform 0.5s ease-in-out;
    box-shadow: -5px 0px 10px 0px #d0d0d0;
    margin-top: 0;
}

nav .menu-items li {
    list-style: none;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.menu-items a {
    text-decoration: none;
    color: #878C5E;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
  
.menu-items a:hover {
    color: #B8BF80;
    transition: color 0.3s ease-in-out;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger .line1 {
    transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger .line2 {
    transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger .line3 {
    transform: rotate(-35deg);
}